<!-- Table container -->
<div id="{{ .Get `id` }}-table" style="height:250px; width: auto;"></div>

<!-- Load Luxon -->
<script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>

<!-- Tabulator.js -->
<link href="https://unpkg.com/tabulator-tables@5.3.4/dist/css/tabulator_bootstrap4.min.css" rel="stylesheet">
<script src="https://unpkg.com/tabulator-tables@5.3.4/dist/js/tabulator.min.js"></script>

<script>
  window.addEventListener('load', function() {
    fetch("{{ .Site.BaseURL }}" + "{{ .Get `data` }}")
      .then(response => response.json())
      .then(data => {
        // Sort data based on score
        data.sort((a, b) => b.score - a.score);

        window.tabulatorTables = window.tabulatorTables || {}; // Store multiple tables

        const tableContainer = document.getElementById("{{ .Get `id` }}-table");

        // If top parameter is passed, limit the rows to top-k
        const topK = {{ .Get `top` | default `0` }};
        if (topK > 0) {
          data = data.slice(0, topK);
          // tableContainer.style.width = "80%";
        } else {
          // tableContainer.style.width = "110%";
        }

        // Initialize the Tabulator table
        const table = new Tabulator("#{{ .Get `id` }}-table", {
          data: data,
          layout: "fitColumns",
          selectable: true,
          columns: [
            { title: "Team", field: "team", sorter: "string" },
            { title: "Method", field: "method", sorter: "string" },
            { title: "F1-Macro <span style='font-size: 1em; color: greem;'>(&#8593)</span>",
              field: "score",
              sorter: "number",
              headerTooltip: "Higher is better"   
            },
            { title: "Date", field: "date", formatter:"datetime",
              formatterParams:
              { inputFormat: "iso",
                outputFormat:"dd MMM yyyy",
                invalidPlaceholder:"(invalid date)"
              }
            }
          ],
          height: "auto",
        });

        window.tabulatorTables["{{ .Get `id` }}"] = table;
      })
      .catch(error => console.error("Error loading table data:", error));

    // Variable to control scrolling behavior
    let hasScrolled = false;

    // Listen for plotly-click event
    window.addEventListener('plotly-click', function(event) {
      const { method, chartId } = event.detail;
      const table = window.tabulatorTables[chartId];

      if (table) {
        table.deselectRow();
        const row = table.getRows().find(row => row.getData().method === method);
        if (row) {
          row.select();
          if (!hasScrolled) {
            row.getElement().scrollIntoView({ behavior: 'smooth', block: 'center' });
            hasScrolled = true;
          }
        }
      }
    });

    // Reset the scroll behavior flag when user scrolls manually
    window.addEventListener('scroll', function() {
      hasScrolled = false;
    });
  });
</script>

{{ if .Get "top" }}
  <a href="{{ "leaderboard/" | absURL }}{{ .Get `id` }}/" class="view-full-table-link">Show more</a>
{{ end }}
